<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
​
<p >Hello 안녕하세요.</p>
<p id="greeting">안녕하세요.</p>
<p>제 이름은 </p>
​
<h1>h1 글씨</h1>
<h6>h6 글씨 </h6>
​
<h6>날씨 예보</h6>
<h6 class="textStyle">오늘 날씨는</h6>
<h6 class="textStyle">맑고</h6>
<h6 class="textStyle">화창합니다.</h6>
​
​
<img id="road-img" src="https://images.unsplash.com/photo-1554659966-023466cbc607?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80">
<img src="https://images.unsplash.com/photo-1554659966-023466cbc607?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80">
​
​
<a href="https://www.naver.com"> 네이버 이동</a>
<input type="button" name="login" value="login">
​
</body>
</html>